.main {
    display: flex;
    margin: 20px;
}
p {
    border-bottom: 1px solid rgba(95, 93, 93, 0.5);
}

.section {
    margin-left: 5px;
    margin-right: 5px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
}


.section {
    height: 100%;
}


.section div p {
    flex: 1;
    margin-bottom: 0; 
}

.section div, p, span
 {
    font-family: Calibri, sans-serif; 
    font-size: 18px; 
}
.section div h1 {
    color: rgb(129, 129, 241);
    font-size: 25px; 
    font-family: Calibri, sans-serif; 
}
